<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="WARN">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout  pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- Enable DEBUG logging for all our classes -->
        <Logger name="com.slack.kaldb" level="debug" additivity="false">
            <appender-ref ref="console" />
        </Logger>
        <AsyncRoot level="${env:LOG_LEVEL:-info}">
            <AppenderRef ref="console"/>
        </AsyncRoot>
    </Loggers>

</Configuration>
