.idea/
*.iml
target/
*.swp
*~
bazel-*
.ijwb/
out/
benchmarks/jmh-output/
dependency-reduced-pom.xml

# Mac
.DS_STORE

# Log files
*.log
*log*.txt
*logs*.txt
*logs*.tar.gz
*log*.tar.gz

# Test files
indices/
**astra-slot-log**

# go vendor files.
vendor/

# Claude
.claude/settings.local.json
