version: "3"
services:
  zookeeper:
    image: 'bitnami/zookeeper:3.6.3'
    container_name: dep_zookeeper
    ports:
      - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    image: 'bitnami/kafka:3.2.3'
    container_name: dep_kafka
    ports:
      - '9092:9092'
      - '29092:29092'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_LISTENERS=INTERNAL://:29092,EXTERNAL://:9092
      - KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:29092,EXTERNAL://127.0.0.1:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CREATE_TOPICS=test-topic:1:1
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    depends_on:
      - zookeeper

  grafana:
    image: 'grafana/grafana:8.0.3'
    container_name: dep_grafana
    ports:
      - '3000:3000'
    volumes:
      - ./config/grafana/provisioning:/etc/grafana/provisioning
      - ../slack-astra-app:/var/lib/grafana/plugins
    environment:
      GF_LOG_MODE: "console file"
      GF_LOG_LEVEL: "info"
      GF_AUTH_DISABLE_LOGIN_FORM: "true"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
      GF_PATHS_PLUGINS: "/var/lib/grafana/plugins"
      GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: "slack-astra-app,slack-astra-app-backend-datasource"

  s3:
    image: 'adobe/s3mock:2.1.29'
    container_name: dep_s3
    ports:
      - 9090:9090
    environment:
      - initialBuckets=test-s3-bucket

  openzipkin:
    image: 'openzipkin/zipkin-slim'
    container_name: dep_openzipkin
    ports:
      - 9411:9411

  #to build this image run 'docker build -t slackhq/astra .'
  astra_preprocessor:
    image: 'slackhq/astra'
    container_name: astra_preprocessor
    ports:
      - 8086:8086
    environment:
      # Node specific settings
      - NODE_ROLES=PREPROCESSOR
      - ASTRA_PREPROCESSOR_USE_BULK_API=true
      - ASTRA_PREPROCESSOR_SERVER_ADDRESS=astra_preprocessor
      # Shared settings
      - ASTRA_ZK_CONNECTION_STRING=zookeeper:2181
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - ZIPKIN_TRACING_ENDPOINT=http://openzipkin:9411/api/v2/spans
      - S3_ENDPOINT=http://dep_s3:9090
      - ASTRA_ZK_SESSION_TIMEOUT_MS=60000
      - ASTRA_ZK_CONNECT_TIMEOUT_MS=15000
      - ASTRA_ZK_SLEEP_RETRIES_MS=5000
      - ASTRA_PREPROCESSOR_REQUEST_TIMEOUT_MS=120000
    depends_on:
      - zookeeper
      - kafka
      - s3
      - openzipkin

  astra_index:
    image: 'slackhq/astra'
    container_name: astra_index
    ports:
      - 8080:8080
    environment:
      # Node specific settings
      - NODE_ROLES=INDEX
      - ASTRA_INDEX_SERVER_ADDRESS=astra_index
      # Shared settings
      - ASTRA_ZK_CONNECTION_STRING=zookeeper:2181
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - ZIPKIN_TRACING_ENDPOINT=http://openzipkin:9411/api/v2/spans
      - S3_ENDPOINT=http://dep_s3:9090
      - ASTRA_ZK_CONNECT_TIMEOUT_MS=15000
      - ASTRA_ZK_SLEEP_RETRIES_MS=5000
      - INDEXER_MAX_MESSAGES_PER_CHUNK=165346700
      - INDEXER_MAX_BYTES_PER_CHUNK=80000000000
      - INDEXER_MAX_TIME_PER_CHUNK_SECONDS=1296000
      - ASTRA_INDEX_REQUEST_TIMEOUT_MS=4200000
      - ASTRA_INDEX_DEFAULT_QUERY_TIMEOUT_MS=3600000
    depends_on:
      - astra_preprocessor

  astra_manager:
    image: 'slackhq/astra'
    container_name: astra_manager
    ports:
      - 8083:8083
    environment:
      # Node specific settings
      - NODE_ROLES=MANAGER
      - ASTRA_MANAGER_SERVER_ADDRESS=astra_manager
      # Shared settings
      - ASTRA_ZK_CONNECTION_STRING=zookeeper:2181
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - ZIPKIN_TRACING_ENDPOINT=http://openzipkin:9411/api/v2/spans
      - S3_ENDPOINT=http://dep_s3:9090
      - ASTRA_ZK_SESSION_TIMEOUT_MS=60000
      - ASTRA_ZK_CONNECT_TIMEOUT_MS=15000
      - ASTRA_ZK_SLEEP_RETRIES_MS=5000
      - ASTRA_MANAGER_REPLICA_LIFESPAN_MINS=30
      - ASTRA_MANAGER_SNAPSHOT_LIFESPAN_MINS=120
    depends_on:
      - astra_preprocessor

  astra_query:
    image: 'slackhq/astra'
    container_name: astra_query
    ports:
      - 8081:8081
    environment:
      # Node specific settings
      - NODE_ROLES=QUERY
      - ASTRA_QUERY_SERVER_ADDRESS=astra_query
      - ASTRA_MANAGER_CONNECTION_STRING=astra_manager:8083
      # Shared settings
      - ASTRA_ZK_CONNECTION_STRING=zookeeper:2181
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - ZIPKIN_TRACING_ENDPOINT=http://openzipkin:9411/api/v2/spans
      - S3_ENDPOINT=http://dep_s3:9090
      - ASTRA_ZK_SESSION_TIMEOUT_MS=60000
      - ASTRA_ZK_CONNECT_TIMEOUT_MS=15000
      - ASTRA_ZK_SLEEP_RETRIES_MS=5000
    depends_on:
      - astra_preprocessor

  astra_cache:
    image: 'slackhq/astra'
    container_name: astra_cache
    ports:
      - 8082:8082
    environment:
      # Node specific settings
      - NODE_ROLES=CACHE
      - ASTRA_CACHE_SERVER_ADDRESS=astra_cache
      # Shared settings
      - ASTRA_ZK_CONNECTION_STRING=zookeeper:2181
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - ZIPKIN_TRACING_ENDPOINT=http://openzipkin:9411/api/v2/spans
      - S3_ENDPOINT=http://dep_s3:9090
      - ASTRA_ZK_SESSION_TIMEOUT_MS=60000
      - ASTRA_ZK_CONNECT_TIMEOUT_MS=15000
      - ASTRA_ZK_SLEEP_RETRIES_MS=5000
    depends_on:
      - astra_preprocessor

  astra_recovery:
    image: 'slackhq/astra'
    container_name: astra_recovery
    ports:
      - 8085:8085
    environment:
      # Node specific settings
      - NODE_ROLES=RECOVERY
      - ASTRA_RECOVERY_SERVER_ADDRESS=astra_recovery
      # Shared settings
      - ASTRA_ZK_CONNECTION_STRING=zookeeper:2181
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - ZIPKIN_TRACING_ENDPOINT=http://openzipkin:9411/api/v2/spans
      - S3_ENDPOINT=http://dep_s3:9090
      - ASTRA_ZK_SESSION_TIMEOUT_MS=60000
      - ASTRA_ZK_CONNECT_TIMEOUT_MS=15000
      - ASTRA_ZK_SLEEP_RETRIES_MS=5000
    depends_on:
      - astra_preprocessor
