<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="WARN" shutdownHook="disable">
    <!-- we handle shutdown hook directly in Astra.addShutdownHook -->

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!-- https://github.com/apache/logging-log4j2/blob/master/log4j-layout-template-json/src/main/resources/EcsLayout.json -->
            <!-- maxStringLength - limit the length of the stack trace -->
            <JsonTemplateLayout maxStringLength="2000000" eventTemplateUri="classpath:AstraLayout.json" truncatedStringSuffix="..."/>
        </Console>
    </Appenders>

    <Loggers>
        <!--
        Enable for DEBUG logging
        <Logger name="com.slack.astra.logstore.AstraMergeScheduler" level="debug" additivity="true">
            <appender-ref ref="console" />
        </Logger>
        -->
        <AsyncRoot level="${env:LOG_LEVEL:-info}">
            <AppenderRef ref="console"/>
        </AsyncRoot>
        <Logger name="org.apache.curator.framework.recipes.cache.CuratorCacheBridgeBuilderImpl" level="off" additivity="false">
            <!--
            This is a warning that is thrown when CuratorCache builder is invoked with an executor instantiated. The
            cache builder supports both pre 3.6 ZK (requires executor) and post 3.6 (doesn't allow custom executor),
            and provides a default executor. We use the post 3.6 and don't provide a custom executor, so this can
            safely be ignored.
             -->
            <appender-ref ref="console" />
        </Logger>
    </Loggers>

</Configuration>
