nodeRoles: [${NODE_ROLES:-QUERY,INDEX,CACHE,MANAGER,RECOVERY,PREPROCESSOR}]

indexerConfig:
  maxMessagesPerChunk: ${INDEXER_MAX_MESSAGES_PER_CHUNK:-100000}
  maxBytesPerChunk: ${INDEXER_MAX_BYTES_PER_CHUNK:-1000000}
  luceneConfig:
    commitDurationSecs: ${INDEXER_COMMIT_DURATION_SECS:-10}
    refreshDurationSecs: ${INDEXER_REFRESH_DURATION_SECS:-11}
  staleDurationSecs: ${INDEXER_STALE_DURATION_SECS:-7200}
  dataTransformer: ${INDEXER_DATA_TRANSFORMER:-api_log}
  dataDirectory: ${INDEXER_DATA_DIR:-/tmp}
  maxOffsetDelayMessages: ${INDEXER_MAX_OFFSET_DELAY_MESSAGES:-10000000}
  serverConfig:
    serverPort: ${KALDB_INDEX_SERVER_PORT:-8080}
    serverAddress: ${KALDB_INDEX_SERVER_ADDRESS:-localhost}

kafkaConfig:
  kafkaTopic: ${KAFKA_TOPIC:-test-topic}
  kafkaTopicPartition: ${KAFKA_TOPIC_PARTITION:-0}
  kafkaBootStrapServers: ${KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}
  kafkaClientGroup: ${KAFKA_CLIENT_GROUP:-kaldb-test}
  enableKafkaAutoCommit: ${KAFKA_AUTO_COMMIT:-true}
  kafkaAutoCommitInterval: ${KAFKA_AUTO_COMMIT_INTERVAL:-5000}
  kafkaSessionTimeout: ${KAFKA_SESSION_TIMEOUT:-30000}

s3Config:
  s3AccessKey: ${S3_ACCESS_KEY:-access}
  s3SecretKey: ${S3_SECRET_KEY:-key}
  s3Region: ${S3_REGION:-us-east-1}
  s3EndPoint: ${S3_ENDPOINT:-http://localhost:9090}
  s3Bucket: ${S3_BUCKET:-test-s3-bucket}

tracingConfig:
  zipkinEndpoint: ${ZIPKIN_TRACING_ENDPOINT:-http://localhost:9411/api/v2/spans}
  commonTags:
    clusterName: ${KALDB_CLUSTER_NAME:-kaldb_local}

queryConfig:
  serverConfig:
    serverPort: ${KALDB_QUERY_SERVER_PORT:-8081}
    serverAddress: ${KALDB_QUERY_SERVER_ADDRESS:-localhost}

metadataStoreConfig:
  zookeeperConfig:
    zkConnectString: ${KALDB_ZK_CONNECTION_STRING:-localhost:2181}
    zkPathPrefix: ${KALDB_ZK_PATH_PREFIX:-kaldb}
    zkSessionTimeoutMs: ${KALDB_ZK_SESSION_TIMEOUT_MS:-5000}
    zkConnectionTimeoutMs: ${KALDB_ZK_CONNECT_TIMEOUT_MS:-500}
    sleepBetweenRetriesMs: ${KALDB_ZK_SLEEP_RETRIES_MS:-100}

cacheConfig:
  slotsPerInstance: ${KALDB_CACHE_SLOTS_PER_INSTANCE:-10}
  dataDirectory: ${KALDB_CACHE_DATA_DIR:-/tmp}
  maxParallelCacheSlotDownloads: ${KALDB_CACHE_MAX_PARALLEL_CACHE_SLOT_DOWNLOADS:-3}
  serverConfig:
    serverPort: ${KALDB_CACHE_SERVER_PORT:-8082}
    serverAddress: ${KALDB_CACHE_SERVER_ADDRESS:-localhost}

managerConfig:
  eventAggregationSecs: ${KALDB_MANAGER_AGGREGATION_SECS:-10}
  scheduleInitialDelayMins: ${KALDB_MANAGER_INITIAL_DELAY_MINS:-1}
  serverConfig:
    serverPort: ${KALDB_MANAGER_SERVER_PORT:-8083}
    serverAddress: ${KALDB_MANAGER_SERVER_ADDRESS:-localhost}
  replicaCreationServiceConfig:
    replicasPerSnapshot: ${KALDB_MANAGER_REPLICAS_PER_SNAPSHOT:-1}
    schedulePeriodMins: ${KALDB_MANAGER_REPLICAS_PERIOD_MINS:-15}
    replicaLifespanMins: ${KALDB_MANAGER_REPLICA_LIFESPAN_MINS:-1440}
  replicaAssignmentServiceConfig:
    schedulePeriodMins: ${KALDB_MANAGER_CACHE_SLOT_PERIOD_MINS:-15}
  replicaEvictionServiceConfig:
    schedulePeriodMins: ${KALDB_MANAGER_REPLICA_EVICT_PERIOD_MINS:-15}
  replicaDeletionServiceConfig:
    schedulePeriodMins: ${KALDB_MANAGER_REPLICA_DELETE_PERIOD_MINS:-15}
  recoveryTaskAssignmentServiceConfig:
    schedulePeriodMins: ${KALDB_MANAGER_RECOVERY_PERIOD_MINS:-15}
  snapshotDeletionServiceConfig:
    schedulePeriodMins: ${KALDB_MANAGER_SNAPSHOT_DELETE_PERIOD_MINS:-15}
    snapshotLifespanMins: ${KALDB_MANAGER_SNAPSHOT_LIFESPAN_MINS:-10080}

clusterConfig:
  clusterName: ${KALDB_CLUSTER_NAME:-kaldb_local}
  env: ${KALDB_CLUSTER_ENV:-local}

recoveryConfig:
  serverConfig:
    serverPort: ${KALDB_RECOVERY_SERVER_PORT:-8085}
    serverAddress: ${KALDB_RECOVERY_SERVER_ADDRESS:-localhost}

preprocessorConfig:
  kafkaStreamConfig:
    bootstrapServers: ${KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}
    applicationId: ${KAFKA_APPLICATION_ID:-kaldb_preprocessor}
    numStreamThreads: ${KAFKA_STREAM_THREADS:-2}
    processingGuarantee: ${KAFKA_STREAM_PROCESSING_GUARANTEE:-at_least_once}
  serverConfig:
    serverPort: ${KALDB_PREPROCESSOR_SERVER_PORT:-8086}
    serverAddress: ${KALDB_PREPROCESSOR_SERVER_ADDRESS:-localhost}
  upstreamTopics: [${KAKFA_UPSTREAM_TOPICS:-test-topic}]
  downstreamTopic: ${KAKFA_DOWNSTREAM_TOPIC:-test-topic-out}
  preprocessorInstanceCount: ${PREPROCESSOR_INSTANCE_COUNT:-1}
  dataTransformer: ${PREPROCESSOR_TRANSFORMER:-api_log}
  rateLimiterMaxBurstSeconds: ${PREPROCESSOR_RATE_LIMITER_MAX_BURST_SECONDS:-1}
