nodeRoles: [${NODE_ROLES:-QUERY,INDEX,CACHE,MANAGER}]

indexerConfig:
  maxMessagesPerChunk: ${INDEXER_MAX_MESSAGES_PER_CHUNK:-100000}
  maxBytesPerChunk: ${INDEXER_MAX_BYTES_PER_CHUNK:-1000000}
  commitDurationSecs: ${INDEXER_COMMIT_DURATION_SECS:-10}
  refreshDurationSecs: ${INDEXER_REFRESH_DURATION_SECS:-11}
  staleDurationSecs: ${INDEXER_STALE_DURATION_SECS:-7200}
  dataTransformer: ${INDEXER_DATA_TRANSFORMER:-api_log}
  dataDirectory: ${INDEXER_DATA_DIR:-/tmp}
  serverConfig:
    serverPort: ${KALDB_INDEX_SERVER_PORT:-8080}
    serverAddress: ${KALDB_INDEX_SERVER_ADDRESS:-localhost}

kafkaConfig:
  kafkaTopic: ${KAFKA_TOPIC:-test-topic}
  kafkaTopicPartition: ${KAFKA_TOPIC_PARTITION:-0}
  kafkaBootStrapServers: ${KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}
  kafkaClientGroup: ${KAFKA_CLIENT_GROUP:-kaldb-test}
  enableKafkaAutoCommit: ${KAFKA_AUTO_COMMIT:-true}
  kafkaAutoCommitInterval: ${KAFKA_AUTO_COMMIT_INTERVAL:-5000}
  kafkaSessionTimeout: ${KAFKA_SESSION_TIMEOUT:-30000}

s3Config:
  s3AccessKey: ${S3_ACCESS_KEY:-access}
  s3SecretKey: ${S3_SECRET_KEY:-key}
  s3Region: ${S3_REGION:-us-east-1}
  s3EndPoint: ${S3_ENDPOINT:-http://localhost:9090}
  s3Bucket: ${S3_BUCKET:-test-s3-bucket}

tracingConfig:
  zipkinEndpoint: ${ZIPKIN_TRACING_ENDPOINT:-}

queryConfig:
  tmpIndexNodes:  [${KALDB_INDEX_NODES:-gproto+http://localhost:8080}]
  serverConfig:
    serverPort: ${KALDB_QUERY_SERVER_PORT:-8081}
    serverAddress: ${KALDB_QUERY_SERVER_ADDRESS:-localhost}

metadataStoreConfig:
  zookeeperConfig:
    zkConnectString: ${KALDB_ZK_CONNECTION_STRING:-localhost:2181}
    zkPathPrefix: ${KALDB_ZK_PATH_PREFIX:-kaldb}
    zkSessionTimeoutMs: ${KALDB_ZK_SESSION_TIMEOUT_MS:-5000}
    zkConnectionTimeoutMs: ${KALDB_ZK_CONNECT_TIMEOUT_MS:-500}
    sleepBetweenRetriesMs: ${KALDB_ZK_SLEEP_RETRIES_MS:-100}

cacheConfig:
  slotsPerInstance: ${KALDB_CACHE_SLOTS_PER_INSTANCE:-10}
  dataDirectory: ${KALDB_CACHE_DATA_DIR:-/tmp}
  serverConfig:
    serverPort: ${KALDB_CACHE_SERVER_PORT:-8082}
    serverAddress: ${KALDB_CACHE_SERVER_ADDRESS:-localhost}

managerConfig:
  serverConfig:
    serverPort: ${KALDB_MANAGER_SERVER_PORT:-8083}
    serverAddress: ${KALDB_MANAGER_SERVER_ADDRESS:-localhost}
