nodeRoles: [${NODE_ROLES:-QUERY,INDEX,CACHE,MANAGER,RECOVERY,PREPROCESSOR}]

indexerConfig:
  maxMessagesPerChunk: ${INDEXER_MAX_MESSAGES_PER_CHUNK:-100000}
  maxBytesPerChunk: ${INDEXER_MAX_BYTES_PER_CHUNK:-1000000}
  maxTimePerChunkSeconds: ${INDEXER_MAX_TIME_PER_CHUNK_SECONDS:-5400}
  luceneConfig:
    commitDurationSecs: ${INDEXER_COMMIT_DURATION_SECS:-10}
    refreshDurationSecs: ${INDEXER_REFRESH_DURATION_SECS:-11}
    enableFullTextSearch: ${INDEXER_ENABLE_FULL_TEXT_SEARCH:-false}
  staleDurationSecs: ${INDEXER_STALE_DURATION_SECS:-7200}
  dataDirectory: ${INDEXER_DATA_DIR:-/tmp}
  maxOffsetDelayMessages: ${INDEXER_MAX_OFFSET_DELAY_MESSAGES:-10000000}
  defaultQueryTimeoutMs: ${ASTRA_INDEX_DEFAULT_QUERY_TIMEOUT_MS:-2500}
  readFromLocationOnStart: ${INDEXER_READ_FROM_LOCATION_ON_START:-LATEST}
  createRecoveryTasksOnStart: ${INDEXER_CREATE_RECOVERY_TASKS_ON_START:-true}
  maxChunksOnDisk: ${INDEXER_MAX_CHUNKS_ON_DISK:-3}
  serverConfig:
    serverPort: ${ASTRA_INDEX_SERVER_PORT:-8080}
    serverAddress: ${ASTRA_INDEX_SERVER_ADDRESS:-localhost}
    requestTimeoutMs: ${ASTRA_INDEX_REQUEST_TIMEOUT_MS:-5000}
  kafkaConfig:
    kafkaTopic: ${KAFKA_TOPIC:-test-topic}
    kafkaTopicPartition: ${KAFKA_TOPIC_PARTITION:-0}
    kafkaBootStrapServers: ${KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}
    kafkaClientGroup: ${KAFKA_CLIENT_GROUP:-ASTRA-test}
    enableKafkaAutoCommit: ${KAFKA_AUTO_COMMIT:-true}
    kafkaAutoCommitInterval: ${KAFKA_AUTO_COMMIT_INTERVAL:-5000}
    kafkaSessionTimeout: ${KAFKA_SESSION_TIMEOUT:-30000}
    additionalProps: ${KAFKA_ADDITIONAL_PROPS:-}

s3Config:
  s3AccessKey: ${S3_ACCESS_KEY:-access}
  s3SecretKey: ${S3_SECRET_KEY:-key}
  s3Region: ${S3_REGION:-us-east-1}
  s3EndPoint: ${S3_ENDPOINT:-http://localhost:9090}
  s3Bucket: ${S3_BUCKET:-test-s3-bucket}
  s3TargetThroughputGbps: ${S3_TARGET_THROUGHPUT_GBPS:-25}

tracingConfig:
  zipkinEndpoint: ${ZIPKIN_TRACING_ENDPOINT:-http://localhost:9411/api/v2/spans}
  commonTags:
    clusterName: ${ASTRA_CLUSTER_NAME:-ASTRA_local}
    env: ${ASTRA_CLUSTER_ENV:-local}
  sampling_rate: ${TRACING_SAMPLING_RATE:-1.0}

queryConfig:
  serverConfig:
    serverPort: ${ASTRA_QUERY_SERVER_PORT:-8081}
    serverAddress: ${ASTRA_QUERY_SERVER_ADDRESS:-localhost}
    requestTimeoutMs: ${ASTRA_QUERY_REQUEST_TIMEOUT_MS:-5000}
  defaultQueryTimeoutMs: ${ASTRA_QUERY_DEFAULT_QUERY_TIMEOUT_MS:-3000}
  managerConnectString: ${ASTRA_MANAGER_CONNECTION_STRING:-localhost:8083}

metadataStoreConfig:
  mode: ${ASTRA_METADATA_MODE:-ZOOKEEPER_EXCLUSIVE}
  zookeeperConfig:
    zkConnectString: ${ASTRA_ZK_CONNECTION_STRING:-localhost:2181}
    zkPathPrefix: ${ASTRA_ZK_PATH_PREFIX:-ASTRA}
    zkSessionTimeoutMs: ${ASTRA_ZK_SESSION_TIMEOUT_MS:-5000}
    zkConnectionTimeoutMs: ${ASTRA_ZK_CONNECT_TIMEOUT_MS:-500}
    zkCacheInitTimeoutMs: ${ASTRA_ZK_CACHE_INIT_TIMEOUT_MS:-30000}
    sleepBetweenRetriesMs: ${ASTRA_ZK_SLEEP_RETRIES_MS:-100}

cacheConfig:
  slotsPerInstance: ${ASTRA_CACHE_SLOTS_PER_INSTANCE:-10}
  replicaSet: ${ASTRA_CACHE_REPLICA_SET:-rep1}
  dataDirectory: ${ASTRA_CACHE_DATA_DIR:-/tmp}
  defaultQueryTimeoutMs: ${ASTRA_CACHE_DEFAULT_QUERY_TIMEOUT_MS:-2500}
  capacityBytes: ${ASTRA_CACHE_CAPACITY_BYTES:-0}
  serverConfig:
    serverPort: ${ASTRA_CACHE_SERVER_PORT:-8082}
    serverAddress: ${ASTRA_CACHE_SERVER_ADDRESS:-localhost}
    requestTimeoutMs: ${ASTRA_CACHE_REQUEST_TIMEOUT_MS:-5000}

managerConfig:
  eventAggregationSecs: ${ASTRA_MANAGER_AGGREGATION_SECS:-10}
  scheduleInitialDelayMins: ${ASTRA_MANAGER_INITIAL_DELAY_MINS:-2}
  serverConfig:
    serverPort: ${ASTRA_MANAGER_SERVER_PORT:-8083}
    serverAddress: ${ASTRA_MANAGER_SERVER_ADDRESS:-localhost}
    requestTimeoutMs: ${ASTRA_MANAGER_REQUEST_TIMEOUT_MS:-5000}
  replicaCreationServiceConfig:
    schedulePeriodMins: ${ASTRA_MANAGER_REPLICAS_PERIOD_MINS:-15}
    replicaLifespanMins: ${ASTRA_MANAGER_REPLICA_LIFESPAN_MINS:-1440}
    replicaSets: [${ASTRA_MANAGER_REPLICA_SETS:-rep1}]
  replicaAssignmentServiceConfig:
    schedulePeriodMins: ${ASTRA_MANAGER_CACHE_SLOT_PERIOD_MINS:-15}
    replicaSets: [${ASTRA_MANAGER_REPLICA_SETS:-rep1}]
    maxConcurrentPerNode: ${ASTRA_MANAGER_MAX_CONCURRENT_ASSIGNMENTS_PER_NODE:-2}
  replicaEvictionServiceConfig:
    schedulePeriodMins: ${ASTRA_MANAGER_REPLICA_EVICT_PERIOD_MINS:-15}
  replicaDeletionServiceConfig:
    schedulePeriodMins: ${ASTRA_MANAGER_REPLICA_DELETE_PERIOD_MINS:-15}
  recoveryTaskAssignmentServiceConfig:
    schedulePeriodMins: ${ASTRA_MANAGER_RECOVERY_PERIOD_MINS:-15}
  snapshotDeletionServiceConfig:
    schedulePeriodMins: ${ASTRA_MANAGER_SNAPSHOT_DELETE_PERIOD_MINS:-15}
    snapshotLifespanMins: ${ASTRA_MANAGER_SNAPSHOT_LIFESPAN_MINS:-10080}
  replicaRestoreServiceConfig:
    schedulePeriodMins: ${ASTRA_MANAGER_REPLICA_RESTORE_PERIOD_MINS:-15}
    maxReplicasPerRequest: ${ASTRA_MANAGER_REPLICA_RESTORE_MAX_REPLICAS_PER_REQUEST:-200}
    replicaLifespanMins: ${ASTRA_MANAGER_REPLICA_RESTORE_LIFESPAN_MINS:-60}
    replicaSets: [${ASTRA_MANAGER_REPLICA_SETS:-rep1}]
  cacheNodeSearchabilityServiceConfig:
    schedulePeriodMins: ${ASTRA_MANAGER_SEARCHABILITY_PERIOD_MINS:-1}
  cacheNodeAssignmentServiceConfig:
    schedulePeriodMins: ${ASTRA_MANAGER_ASSIGNMENT_PERIOD_MINS:-15}
    replicaSets: [${ASTRA_MANAGER_REPLICA_SETS:-rep1}]
    maxConcurrentPerNode: ${ASTRA_MANAGER_MAX_CONCURRENT_ASSIGNMENTS_PER_NODE:-2}
  clusterMonitorServiceConfig:
    schedulePeriodMins: ${ASTRA_MANAGER_CLUSTER_MONITOR_PERIOD_MINS:-15}

redactionUpdateServiceConfig:
  redactionUpdatePeriodSecs: ${ASTRA_MANAGER_REDACTION_UPDATE_PERIOD_SECS:-300}
  redactionUpdateInitDelaySecs: ${ASTRA_MANAGER_REDACTION_UPDATE_INIT_DELAY_SECS:-30}

clusterConfig:
  clusterName: ${ASTRA_CLUSTER_NAME:-ASTRA_local}
  env: ${ASTRA_CLUSTER_ENV:-local}

recoveryConfig:
  serverConfig:
    serverPort: ${ASTRA_RECOVERY_SERVER_PORT:-8085}
    serverAddress: ${ASTRA_RECOVERY_SERVER_ADDRESS:-localhost}
    requestTimeoutMs: ${ASTRA_RECOVERY_REQUEST_TIMEOUT_MS:-5000}
  kafkaConfig:
    kafkaTopic: ${KAFKA_TOPIC:-test-topic}
    kafkaTopicPartition: ${KAFKA_TOPIC_PARTITION:-0}
    kafkaBootStrapServers: ${KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}
    kafkaClientGroup: ${KAFKA_CLIENT_GROUP:-ASTRA-test}
    enableKafkaAutoCommit: ${KAFKA_AUTO_COMMIT:-true}
    kafkaAutoCommitInterval: ${KAFKA_AUTO_COMMIT_INTERVAL:-5000}
    kafkaSessionTimeout: ${KAFKA_SESSION_TIMEOUT:-30000}
    additionalProps: ${KAFKA_ADDITIONAL_PROPS:-}

preprocessorConfig:
  kafkaConfig:
    kafkaTopic: ${KAFKA_TOPIC:-test-topic}
    kafkaBootStrapServers: ${KAFKA_BOOTSTRAP_SERVERS:-localhost:9092}
    additionalProps: ${KAFKA_ADDITIONAL_PROPS:-}
  schemaFile: ${PREPROCESSOR_SCHEMA_FILE:-}

  serverConfig:
    serverPort: ${ASTRA_PREPROCESSOR_SERVER_PORT:-8086}
    serverAddress: ${ASTRA_PREPROCESSOR_SERVER_ADDRESS:-localhost}
    requestTimeoutMs: ${ASTRA_PREPROCESSOR_REQUEST_TIMEOUT_MS:-30000}
  preprocessorInstanceCount: ${PREPROCESSOR_INSTANCE_COUNT:-1}
  rateLimiterMaxBurstSeconds: ${PREPROCESSOR_RATE_LIMITER_MAX_BURST_SECONDS:-1}
  rateLimitExceededErrorCode: ${ASTRA_PREPROCESSOR_RATE_LIMIT_EXCEEDED_ERROR_CODE:-400}
  datasetRateLimitAggregationSecs: ${ASTRA_PREPROCESSOR_DATASET_RATE_LIMIT_AGGREGATION_SECS:-5}
  datasetRateLimitPeriodSecs: ${ASTRA_PREPROCESSOR_DATASET_RATE_LIMIT_PERIOD_SECS:-60}
