<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="WARN" shutdownHook="disable">
    <!-- we handle shutdown hook directly in Kaldb.addShutdownHook -->

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!-- https://github.com/apache/logging-log4j2/blob/master/log4j-layout-template-json/src/main/resources/EcsLayout.json -->
            <!-- maxStringLength - limit the length of the stack trace -->
            <JsonTemplateLayout eventTemplateUri="classpath:KaldbLayout.json" truncatedStringSuffix="..."/>
        </Console>
    </Appenders>

    <Loggers>
        <!--
        Enable for DEBUG logging
        <Logger name="com.slack.kaldb.logstore.KalDBMergeScheduler" level="debug" additivity="true">
            <appender-ref ref="console" />
        </Logger>
        -->
        <AsyncRoot level="${env:LOG_LEVEL:-info}">
            <AppenderRef ref="console"/>
        </AsyncRoot>
    </Loggers>

</Configuration>
