# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 19
      uses: actions/setup-java@v3
      with:
        java-version: '19'
        distribution: 'corretto'
        cache: 'maven'
    - name: Ensure code is formatted
      run: mvn com.coveo:fmt-maven-plugin:check --file kaldb/pom.xml
    - name: Ensure jmh benchmark code is formatted
      run: mvn com.coveo:fmt-maven-plugin:check --file benchmarks/pom.xml
    - name: Build with Maven
      run: mvn -B package --file pom.xml
